##Get startd with Pandas

In [1]:
import pandas as pd 
import numpy as np

In [3]:
pd.read_csv?

In [4]:
df = pd.read_csv('Building_Violations_sample_50000.csv')

/home/benbrew/anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1159: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [6]:
df.head()

,Unnamed: 0,ID,VIOLATION LAST MODIFIED DATE,VIOLATION DATE,VIOLATION CODE,VIOLATION STATUS,VIOLATION STATUS DATE,VIOLATION DESCRIPTION,VIOLATION LOCATION,VIOLATION INSPECTOR COMMENTS,...,INSPECTION STATUS,INSPECTION WAIVED,INSPECTION CATEGORY,DEPARTMENT BUREAU,ADDRESS,PROPERTY GROUP,SSA,LATITUDE,LONGITUDE,LOCATION
0,0,5063843,05/21/2015,05/21/2015,CN065014,OPEN,NaN,REPAIR LINTELS,OTHER : :,LINTELS; RUSTED.,...,FAILED,N,COMPLAINT,CONSERVATION,722 E 89TH ST,461523,51,41.733089,-87.606184,"(41.73308939713441,-87.60618433527188)"
1,1,5063990,05/21/2015,05/21/2015,CN044013,OPEN,NaN,PIPE OPENING W/NONCOMBUST MATL,OTHER : :MULTIPLE FLOORS,"OPENINGS AROUND PIPES, SEAL WITH APPROVED MATE...",...,FAILED,N,PERIODIC,CONSERVATION,6444 S DR MARTIN L KING JR DR,19575,NaN,41.777088,-87.615694,"(41.77708792596553,-87.61569442972947)"
2,2,5064022,05/21/2015,05/21/2015,CN104035,OPEN,NaN,MAINTAIN WINDOW,OTHER : :,"ALL ELEVATIONS , WOOD WINDOW FRAMES AND NORTH...",...,FAILED,N,COMPLAINT,CONSERVATION,3115 N SAWYER AVE,117375,NaN,41.937995,-87.708657,"(41.93799454179893,-87.70865671096144)"
3,3,5064019,05/21/2015,05/21/2015,CN196029,OPEN,NaN,POST OWNER/MANAGERS NAME/#,OTHER : :,BUILDING - NO OWNER'S I.D. SIGN POSTED .,...,FAILED,N,COMPLAINT,CONSERVATION,3115 N SAWYER AVE,117375,NaN,41.937995,-87.708657,"(41.93799454179893,-87.70865671096144)"
4,4,5064139,05/21/2015,05/21/2015,CN104015,OPEN,NaN,"REPLCE WINDOW PANES, PLEXGLAS",OTHER : :,NORTH ELEVATION / 1ST FLOOR - BROKEN WINDOW PANE.,...,FAILED,N,COMPLAINT,CONSERVATION,5649 S INDIANA AVE,344254,NaN,41.791470,-87.620616,"(41.791469839262206,-87.62061589476306)"

In [7]:
df.shape

(50000, 23)

In [8]:
del df['Unnamed: 0']

In [31]:
df.tail(5)

,id,violation_last_modified_date,violation_date,violation_code,violation_status,violation_status_date,violation_description,violation_location,violation_inspector_comments,violation_ordinance,...,inspection_category,department_bureau,address,property_group,ssa,latitude,longitude,location,log_lat,new_lat
49995,1438713,06/16/2006,2006-01-01,CN063014,OPEN,NaN,CHIMNEY,NaN,CHIMNEY WASHED OUT MORTAR LOOSE BRICKS.,Failed to maintain chimney in safe and sound w...,...,PERIODIC,CONSERVATION,1854 E 79TH ST,20597,50,41.751683,-87.578659,"(41.75168267214598,-87.57865870399478)",3.731740,42.526625
49996,1357061,07/17/2006,2006-01-01,CN070024,OPEN,NaN,REPAIR PORCH SYSTEM,NaN,"35 REAR PORCH GRADE TO 3RD RAILS TOO SHORT, MI...",Failed to repair or replace defective or missi...,...,PERIODIC,CONSERVATION,31 N LOREL AVE,1612,NaN,41.881299,-87.758621,"(41.881299199557894,-87.75862053499047)",3.734839,42.071508
49997,1430847,10/14/2008,2006-01-01,CN031013,COMPLIED,07/10/2008,"FIRE EXTNGSHR REQ, RESDNTL",NaN,ALL ELEVATION MISSING FIRE EXTINGUISHER,Failed to install approved fire extinguishers ...,...,PERIODIC,CONSERVATION,6501 S LOWE AVE,19693,NaN,41.776074,-87.640625,"(41.7760739361563,-87.64062455203374)",3.732324,42.403814
49998,1734149,09/16/2008,2006-01-01,CN135016,COMPLIED,09/05/2008,MICE/RODENTS,NaN,MICE ON PREMISES,Exterminate rodents in building and seal openi...,...,PERIODIC,CONSERVATION,4836 S INDIANA AVE,18261,NaN,41.806381,-87.621283,"(41.80638088214982,-87.62128295874425)",3.733049,42.312305
49999,1834762,01/12/2007,2006-01-01,CN190019,COMPLIED,01/11/2007,ARRANGE PREMISE INSPECTION,NaN,NO ENTRY TO INTERIOR TO VERIFY OCCUPANCY AND D...,Arrange for inspection of premises. (13-12-100),...,PERIODIC,CONSERVATION,200 N KOSTNER AVE,1531,NaN,41.883310,-87.735709,"(41.88330951242491,-87.73570901056128)",3.734887,42.333836

In [10]:
df.head(3)

,ID,VIOLATION LAST MODIFIED DATE,VIOLATION DATE,VIOLATION CODE,VIOLATION STATUS,VIOLATION STATUS DATE,VIOLATION DESCRIPTION,VIOLATION LOCATION,VIOLATION INSPECTOR COMMENTS,VIOLATION ORDINANCE,...,INSPECTION STATUS,INSPECTION WAIVED,INSPECTION CATEGORY,DEPARTMENT BUREAU,ADDRESS,PROPERTY GROUP,SSA,LATITUDE,LONGITUDE,LOCATION
0,5063843,05/21/2015,05/21/2015,CN065014,OPEN,NaN,REPAIR LINTELS,OTHER : :,LINTELS; RUSTED.,Failed to maintain lintel in good repair and f...,...,FAILED,N,COMPLAINT,CONSERVATION,722 E 89TH ST,461523,51,41.733089,-87.606184,"(41.73308939713441,-87.60618433527188)"
1,5063990,05/21/2015,05/21/2015,CN044013,OPEN,NaN,PIPE OPENING W/NONCOMBUST MATL,OTHER : :MULTIPLE FLOORS,"OPENINGS AROUND PIPES, SEAL WITH APPROVED MATE...",Failed to fill openings around exposed pipes o...,...,FAILED,N,PERIODIC,CONSERVATION,6444 S DR MARTIN L KING JR DR,19575,NaN,41.777088,-87.615694,"(41.77708792596553,-87.61569442972947)"
2,5064022,05/21/2015,05/21/2015,CN104035,OPEN,NaN,MAINTAIN WINDOW,OTHER : :,"ALL ELEVATIONS , WOOD WINDOW FRAMES AND NORTH...",Failed to maintain windows in sound condition ...,...,FAILED,N,COMPLAINT,CONSERVATION,3115 N SAWYER AVE,117375,NaN,41.937995,-87.708657,"(41.93799454179893,-87.70865671096144)"

In [11]:
df.columns

Index([u'ID', u'VIOLATION LAST MODIFIED DATE', u'VIOLATION DATE', u'VIOLATION CODE', u'VIOLATION STATUS', u'VIOLATION STATUS DATE', u'VIOLATION DESCRIPTION', u'VIOLATION LOCATION', u'VIOLATION INSPECTOR COMMENTS', u'VIOLATION ORDINANCE', u'INSPECTOR ID', u'INSPECTION NUMBER', u'INSPECTION STATUS', u'INSPECTION WAIVED', u'INSPECTION CATEGORY', u'DEPARTMENT BUREAU', u'ADDRESS', u'PROPERTY GROUP', u'SSA', u'LATITUDE', u'LONGITUDE', u'LOCATION'], dtype='object')

In [13]:
#All columns have spaces, create a function that adds underscore 
import re 

def spaces_to_snake(column_name): 
    s = re.sub(r"\s+", '_', column_name)
    return s.lower()
df.columns = [spaces_to_snake(col) for col in df.columns]

df.columns

Index([u'id', u'violation_last_modified_date', u'violation_date', u'violation_code', u'violation_status', u'violation_status_date', u'violation_description', u'violation_location', u'violation_inspector_comments', u'violation_ordinance', u'inspector_id', u'inspection_number', u'inspection_status', u'inspection_waived', u'inspection_category', u'department_bureau', u'address', u'property_group', u'ssa', u'latitude', u'longitude', u'location'], dtype='object')

In [14]:
# referencing individual columns 
df.violation_description.head()

0                    REPAIR LINTELS
1    PIPE OPENING W/NONCOMBUST MATL
2                   MAINTAIN WINDOW
3        POST OWNER/MANAGERS NAME/#
4     REPLCE WINDOW PANES, PLEXGLAS
Name: violation_description, dtype: object

In [15]:
df.dtypes

id                                int64
violation_last_modified_date     object
violation_date                   object
violation_code                   object
violation_status                 object
violation_status_date            object
violation_description            object
violation_location               object
violation_inspector_comments     object
violation_ordinance              object
inspector_id                     object
inspection_number                 int64
inspection_status                object
inspection_waived                object
inspection_category              object
department_bureau                object
address                          object
property_group                    int64
ssa                              object
latitude                        float64
longitude                       float64
location                         object
dtype: object

In [16]:
#lots of dates, but they are objects. convert to dates
df.violation_date = pd.to_datetime(df.violation_date) 
df.violation_date.head()

0   2015-05-21
1   2015-05-21
2   2015-05-21
3   2015-05-21
4   2015-05-21
Name: violation_date, dtype: datetime64[ns]

In [17]:
#explore data frame
df.describe()

,id,inspection_number,property_group,latitude,longitude
count,50000.000000,50000.000000,50000.000000,49952.000000,49952.000000
mean,3300031.329640,6195288.986320,197729.741420,41.845539,-87.673442
std,1088123.083684,4296079.998463,183132.260836,0.087437,0.057008
min,742158.000000,375113.000000,1001.000000,41.644712,-87.914436
25%,2400057.500000,2021217.500000,20600.750000,41.771440,-87.714271
50%,3421152.000000,2813561.000000,142605.000000,41.854001,-87.670709
75%,4223617.750000,10630848.750000,363929.250000,41.912843,-87.634551
max,5064815.000000,11597625.000000,663759.000000,42.022645,-87.525898

In [18]:
# only works on numerical columns, for categorical use value_counts 
pd.value_counts(df.inspection_status)

FAILED    38371
PASSED     6426
CLOSED     5199
HOLD          4
dtype: int64

In [21]:
# count null values 
pd.value_counts(df.violation_inspector_comments.isnull())

False    44705
True      5295
dtype: int64

In [24]:
df.violation_inspector_comments = df.violation_inspector_comments.fillna("No Comment")

In [25]:
# select and subsetting 
df[df.violation_inspector_comments == 'No Comment'].head()

,id,violation_last_modified_date,violation_date,violation_code,violation_status,violation_status_date,violation_description,violation_location,violation_inspector_comments,violation_ordinance,...,inspection_status,inspection_waived,inspection_category,department_bureau,address,property_group,ssa,latitude,longitude,location
13,5063459,05/20/2015,2015-05-20,CN193019,OPEN,NaN,REPAIR/WRECK DANGER RESID PREM,NaN,No Comment,Repair or wreck dangerous and vacant residenti...,...,CLOSED,N,COMPLAINT,DEMOLITION,3051 S BROAD ST,285348,NaN,41.838454,-87.660979,"(41.83845438362799,-87.6609787384341)"
15,5063885,05/21/2015,2015-05-20,BR1001,OPEN,NaN,OWNER OR LICENSED CONTRACTOR,NaN,No Comment,The code violations listed below must be corre...,...,CLOSED,N,PERIODIC,BOILER,6448 S TRIPP AVE,387870,NaN,41.775328,-87.728922,"(41.775328312329904,-87.72892174006991)"
16,5063912,05/21/2015,2015-05-20,PL151137,OPEN,NaN,OPEN,NaN,No Comment,NaN,...,FAILED,N,PERMIT,PLUMBING,3835 W CERMAK RD,280823,NaN,41.851485,-87.721159,"(41.85148492680666,-87.72115941535648)"
18,5063320,05/20/2015,2015-05-20,CN193019,OPEN,NaN,REPAIR/WRECK DANGER RESID PREM,NaN,No Comment,Repair or wreck dangerous and vacant residenti...,...,CLOSED,N,COMPLAINT,DEMOLITION,11025 S ESMOND ST,516079,NaN,41.693018,-87.667286,"(41.69301757344688,-87.66728567428113)"
20,5064410,05/20/2015,2015-05-20,CN193039,OPEN,NaN,POST OWNER NAME OF VACNT BLDG,NaN,No Comment,"Post conspicuously name, address, and telephon...",...,CLOSED,N,COMPLAINT,DEMOLITION,6928 S KIMBARK AVE,393870,NaN,41.769012,-87.594164,"(41.76901189738516,-87.59416364991507)"

In [26]:
#apply function 
df['log_lat'] = df.latitude.apply(np.log) 
df[['latitude', 'log_lat']].head()

    latitude   log_lat
0  41.733089  3.731294
1  41.777088  3.732348
2  41.937995  3.736192
3  41.937995  3.736192
4  41.791470  3.732692

In [27]:
# add noise, take value in column, x, and add a random number 
df['new_lat'] = df.latitude.apply(lambda x: x + np.random.rand())

In [28]:
df[['latitude', 'log_lat', 'new_lat']].head()

    latitude   log_lat    new_lat
0  41.733089  3.731294  41.803355
1  41.777088  3.732348  42.249285
2  41.937995  3.736192  42.600653
3  41.937995  3.736192  42.487788
4  41.791470  3.732692  42.019968

In [29]:
#group by 
df[['department_bureau', 'longitude', 'latitude']].groupby("department_bureau").mean()

                            longitude   latitude
department_bureau
BOILER                     -87.670488  41.841682
CONSERVATION               -87.673469  41.846195
CONSTRUCTION EQUIPMENT     -87.684458  41.928653
DEMOLITION                 -87.669775  41.807409
ELECTRICAL                 -87.670183  41.839267
ELEVATOR                   -87.659214  41.900869
IRON                       -87.671767  41.906648
NEW CONSTRUCTION           -87.683687  41.863878
PLUMBING                   -87.663690  41.817108
REFRIGERATION              -87.679022  41.874878
SIGNS                      -87.688456  41.874992
SPECIAL INSPECTION PROGRAM -87.669368  41.864683
SPECIAL TASK FORCE         -87.679063  41.829780
VENTILATION                -87.684892  41.889416
WATER                      -87.665067  41.866511

In [39]:
df.violation_inspector_comments = df.violation_inspector_comments.fillna("No Comment")

In [44]:
df.isnull().sum()

id                                  0
violation_last_modified_date        0
violation_date                      0
violation_code                      0
violation_status                    0
violation_status_date           36488
violation_description             376
violation_location              32484
violation_inspector_comments        0
violation_ordinance              1538
inspector_id                        0
inspection_number                   0
inspection_status                   0
inspection_waived                   0
inspection_category                 0
department_bureau                   0
address                             0
property_group                      0
ssa                             40639
latitude                           48
longitude                          48
location                           48
log_lat                            48
new_lat                            48
dtype: int64

In [45]:
df.violation_inspector_comments = df.violation_inspector_comments.fillna("No Comment")

In [48]:
df.dtypes

id                                       int64
violation_last_modified_date            object
violation_date                  datetime64[ns]
violation_code                          object
violation_status                        object
violation_status_date                   object
violation_description                   object
violation_location                      object
violation_inspector_comments            object
violation_ordinance                     object
inspector_id                            object
inspection_number                        int64
inspection_status                       object
inspection_waived                       object
inspection_category                     object
department_bureau                       object
address                                 object
property_group                           int64
ssa                                     object
latitude                               float64
longitude                              float64
location                                object
log_lat                                float64
new_lat                                float64
dtype: object

In [49]:
df.violation_status_date = df.violation_status_date.fillna("No Date")

In [52]:
df.dtypes

id                                       int64
violation_last_modified_date            object
violation_date                  datetime64[ns]
violation_code                          object
violation_status                        object
violation_status_date                   object
violation_description                   object
violation_location                      object
violation_inspector_comments            object
violation_ordinance                     object
inspector_id                            object
inspection_number                        int64
inspection_status                       object
inspection_waived                       object
inspection_category                     object
department_bureau                       object
address                                 object
property_group                           int64
ssa                                     object
latitude                               float64
longitude                              float64
location                                object
log_lat                                float64
new_lat                                float64
dtype: object

In [53]:
df.isnull().sum()

id                                  0
violation_last_modified_date        0
violation_date                      0
violation_code                      0
violation_status                    0
violation_status_date               0
violation_description             376
violation_location              32484
violation_inspector_comments        0
violation_ordinance              1538
inspector_id                        0
inspection_number                   0
inspection_status                   0
inspection_waived                   0
inspection_category                 0
department_bureau                   0
address                             0
property_group                      0
ssa                             40639
latitude                           48
longitude                          48
location                           48
log_lat                            48
new_lat                            48
dtype: int64

In [54]:
df.violation_location = df.violation_location.fillna("Unknown")

In [55]:
df.isnull().sum()

id                                  0
violation_last_modified_date        0
violation_date                      0
violation_code                      0
violation_status                    0
violation_status_date               0
violation_description             376
violation_location                  0
violation_inspector_comments        0
violation_ordinance              1538
inspector_id                        0
inspection_number                   0
inspection_status                   0
inspection_waived                   0
inspection_category                 0
department_bureau                   0
address                             0
property_group                      0
ssa                             40639
latitude                           48
longitude                          48
location                           48
log_lat                            48
new_lat                            48
dtype: int64

In [56]:
df.violation_description = df.violation_description.fillna("No Comment")

In [58]:
df.ssa = df.ssa.fillna("No Comment")

In [59]:
np.where(df.longitude.isnull())

(array([  975,   982,  1335,  1595,  5621,  7318,  7319, 11679, 12915,
        12919, 12924, 18181, 21898, 21899, 22828, 22908, 23286, 25920,
        27735, 27736, 27811, 27812, 28396, 28980, 28984, 28986, 29090,
        29093, 29096, 29388, 29389, 30534, 32379, 32428, 32429, 33615,
        36098, 37361, 37700, 38792, 43301, 43302, 45766, 45980, 46027,
        48082, 48195, 48197]),)