In [2]:
import pandas as pd
import numpy as py
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
df = pd.read_csv('/home/benbrew/Documents/Building_Violations_sample_50000.csv')

/home/benbrew/anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1159: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [4]:
#All columns have spaces, create a function that adds underscore 
import re 

def spaces_to_snake(column_name): 
    s = re.sub(r"\s+", '_', column_name)
    return s.lower()
df.columns = [spaces_to_snake(col) for col in df.columns]

df.columns

Index([u'unnamed:_0', u'id', u'violation_last_modified_date', u'violation_date', u'violation_code', u'violation_status', u'violation_status_date', u'violation_description', u'violation_location', u'violation_inspector_comments', u'violation_ordinance', u'inspector_id', u'inspection_number', u'inspection_status', u'inspection_waived', u'inspection_category', u'department_bureau', u'address', u'property_group', u'ssa', u'latitude', u'longitude', u'location'], dtype='object')

In [5]:
df.violation_status_date = pd.to_datetime(df.violation_status_date)
df.violation_date = pd.to_datetime(df.violation_date)

In [6]:
# look at how many times a location was inspected
inspect = df[['location', 'id']].groupby('location').count()
inspect

                                         id
location
(41.644712319701355,-87.61054489207858)   3
(41.644715443144335,-87.61282488887937)   1
(41.645784773378516,-87.61577244413007)   1
(41.64636478449065,-87.61654672673995)    1
(41.64692911211202,-87.61447966111751)    1
(41.64742175185122,-87.61708899714324)    1
(41.647795874157346,-87.54018148507018)   2
(41.64781346219875,-87.61421661741555)    1
(41.6478148942479,-87.61645925569275)     1
(41.648032636313566,-87.61392876189757)   2
(41.648033312120475,-87.61449814827196)   1
(41.648033497754234,-87.61514963747327)   2
(41.64803352865298,-87.61558610924808)    1
(41.648310479508645,-87.54399793795261)   1
(41.64831133789253,-87.54450422674195)    1
(41.648457411436006,-87.54012316604066)   1
(41.64868870411254,-87.54488161972836)    1
(41.64892413385787,-87.54628496618952)    1
(41.649007538483055,-87.55916462709274)   1
(41.64919842993987,-87.54578457882039)    1
(41.64940779309749,-87.54691041707007)    1
(41.649496000274205,-87.5385111493897)    1
(41.64954707623299,-87.547037252503)      1
(41.64968175814829,-87.54578298947494)    1
(41.64988698229695,-87.54607483071594)    1
(41.64993012181813,-87.54701738845729)    2
(41.650343384158205,-87.54607282205943)   1
(41.65054094697297,-87.5482607057881)     2
(41.65062179173726,-87.54095925939012)    1
(41.6507152932624,-87.54824755540024)     1
...                                      ..
(42.021210884377,-87.67086605703521)      4
(42.02123848565826,-87.67204426933564)    1
(42.021259069358535,-87.67017720853453)  10
(42.021261678150104,-87.67049631976245)   1
(42.021269942412516,-87.67134740113846)   3
(42.02128499926987,-87.67313769759029)    1
(42.02144853294071,-87.66682331800244)    8
(42.021514462337905,-87.67174722327167)   1
(42.02168621516109,-87.67292339992562)    1
(42.0217528900544,-87.66660687835906)     2
(42.02183449467274,-87.6740993513335)     1
(42.02184840559456,-87.6720377012444)     1
(42.02185509423605,-87.67321513144162)    1
(42.021863477384635,-87.66663774330372)   2
(42.021889702381415,-87.67409868998341)   1
(42.02189749209467,-87.67056614316847)    1
(42.02199611761967,-87.66536434253518)    1
(42.02213824611862,-87.66671286089127)    1
(42.02215887546485,-87.67085857147022)    1
(42.02228637439677,-87.6657947050411)     4
(42.02234373925689,-87.6672491759506)     1
(42.02234457361622,-87.66733021341963)    1
(42.0223463725097,-87.67203207141537)     3
(42.02236842293945,-87.66647280517873)    2
(42.022372411775464,-87.67015372322889)   1
(42.022372920646376,-87.67022617138275)   1
(42.02241209370339,-87.67156799176982)    1
(42.0226341540599,-87.67193973427023)     2
(42.02264167874065,-87.67311936183644)    4
(42.02264515829284,-87.67395284249001)    1

[34650 rows x 1 columns]

In [7]:
# look at how many times a location "failed" inspection
failed = df[['location', 'id']][df['inspection_status'] == 'FAILED'].groupby('location').count()
failed

                                         id
location
(41.64692911211202,-87.61447966111751)    1
(41.647795874157346,-87.54018148507018)   2
(41.64781346219875,-87.61421661741555)    1
(41.6478148942479,-87.61645925569275)     1
(41.648032636313566,-87.61392876189757)   2
(41.648033312120475,-87.61449814827196)   1
(41.64803352865298,-87.61558610924808)    1
(41.64831133789253,-87.54450422674195)    1
(41.64868870411254,-87.54488161972836)    1
(41.64892413385787,-87.54628496618952)    1
(41.649007538483055,-87.55916462709274)   1
(41.64919842993987,-87.54578457882039)    1
(41.649496000274205,-87.5385111493897)    1
(41.64954707623299,-87.547037252503)      1
(41.64968175814829,-87.54578298947494)    1
(41.64988698229695,-87.54607483071594)    1
(41.64993012181813,-87.54701738845729)    2
(41.650343384158205,-87.54607282205943)   1
(41.65054094697297,-87.5482607057881)     1
(41.65062179173726,-87.54095925939012)    1
(41.6507152932624,-87.54824755540024)     1
(41.65074076438346,-87.54607322537252)    1
(41.65079720427416,-87.54578041438954)    1
(41.65091265199324,-87.54701434883746)    1
(41.65096740821523,-87.54578010931255)    1
(41.651360269469976,-87.54215693374226)   1
(41.65159175343629,-87.54607187374367)    1
(41.65164707502776,-87.5445873221266)     1
(41.651703734049235,-87.5445885225999)    1
(41.651712548052224,-87.61646905697734)   1
...                                      ..
(42.0208640665285,-87.67293324524202)     1
(42.021210884377,-87.67086605703521)      3
(42.02123848565826,-87.67204426933564)    1
(42.021259069358535,-87.67017720853453)   7
(42.021261678150104,-87.67049631976245)   1
(42.021269942412516,-87.67134740113846)   3
(42.02128499926987,-87.67313769759029)    1
(42.02144853294071,-87.66682331800244)    6
(42.021514462337905,-87.67174722327167)   1
(42.02168621516109,-87.67292339992562)    1
(42.02183449467274,-87.6740993513335)     1
(42.02184840559456,-87.6720377012444)     1
(42.02185509423605,-87.67321513144162)    1
(42.021863477384635,-87.66663774330372)   2
(42.021889702381415,-87.67409868998341)   1
(42.02189749209467,-87.67056614316847)    1
(42.02199611761967,-87.66536434253518)    1
(42.02213824611862,-87.66671286089127)    1
(42.02215887546485,-87.67085857147022)    1
(42.02228637439677,-87.6657947050411)     4
(42.02234373925689,-87.6672491759506)     1
(42.02234457361622,-87.66733021341963)    1
(42.0223463725097,-87.67203207141537)     3
(42.02236842293945,-87.66647280517873)    2
(42.022372411775464,-87.67015372322889)   1
(42.022372920646376,-87.67022617138275)   1
(42.02241209370339,-87.67156799176982)    1
(42.0226341540599,-87.67193973427023)     2
(42.02264167874065,-87.67311936183644)    4
(42.02264515829284,-87.67395284249001)    1

[27217 rows x 1 columns]

In [8]:
dummy=df[['location','violation_code','id']][df['inspection_status']=='FAILED'].groupby(['location','violation_code']).count()
dummy

                                                        id
location                                violation_code
(41.64692911211202,-87.61447966111751)  CN067014         1
(41.647795874157346,-87.54018148507018) CN136026         1
                                        CN193338         1
(41.64781346219875,-87.61421661741555)  CN102015         1
(41.6478148942479,-87.61645925569275)   PL159027         1
(41.648032636313566,-87.61392876189757) CN041063         1
                                        CN101015         1
(41.648033312120475,-87.61449814827196) CN190019         1
(41.64803352865298,-87.61558610924808)  CN041063         1
(41.64831133789253,-87.54450422674195)  CN190019         1
(41.64868870411254,-87.54488161972836)  CN190019         1
(41.64892413385787,-87.54628496618952)  CN070024         1
(41.649007538483055,-87.55916462709274) EL0020           1
(41.64919842993987,-87.54578457882039)  CN040053         1
(41.649496000274205,-87.5385111493897)  CN067014         1
(41.64954707623299,-87.547037252503)    CN073014         1
(41.64968175814829,-87.54578298947494)  CN061014         1
(41.64988698229695,-87.54607483071594)  CN078014         1
(41.64993012181813,-87.54701738845729)  CN197019         1
                                        NC8012           1
(41.650343384158205,-87.54607282205943) CN061014         1
(41.65054094697297,-87.5482607057881)   PL234018         1
(41.65062179173726,-87.54095925939012)  CN138106         1
(41.6507152932624,-87.54824755540024)   CN196029         1
(41.65074076438346,-87.54607322537252)  CN104015         1
(41.65079720427416,-87.54578041438954)  CN041063         1
(41.65091265199324,-87.54701434883746)  CN193100         1
(41.65096740821523,-87.54578010931255)  CN104015         1
(41.651360269469976,-87.54215693374226) CN190019         1
(41.65159175343629,-87.54607187374367)  CN070014         1
...                                                     ..
(42.02183449467274,-87.6740993513335)   CN061014         1
(42.02184840559456,-87.6720377012444)   PL160017         1
(42.02185509423605,-87.67321513144162)  NC2091           1
(42.021863477384635,-87.66663774330372) CN135016         1
                                        EL0011           1
(42.021889702381415,-87.67409868998341) CN074024         1
(42.02189749209467,-87.67056614316847)  CN104035         1
(42.02199611761967,-87.66536434253518)  CN066034         1
(42.02213824611862,-87.66671286089127)  CN070024         1
(42.02215887546485,-87.67085857147022)  CN064014         1
(42.02228637439677,-87.6657947050411)   CN066034         1
                                        CN070024         1
                                        CN138106         1
                                        CN198019         1
(42.02234373925689,-87.6672491759506)   CN190019         1
(42.02234457361622,-87.66733021341963)  CN197079         1
(42.0223463725097,-87.67203207141537)   CN015062         2
                                        CN061034         1
(42.02236842293945,-87.66647280517873)  CN046013         1
                                        CN132016         1
(42.022372411775464,-87.67015372322889) CN104015         1
(42.022372920646376,-87.67022617138275) CN104015         1
(42.02241209370339,-87.67156799176982)  CN190019         1
(42.0226341540599,-87.67193973427023)   CN065014         1
                                        CN133016         1
(42.02264167874065,-87.67311936183644)  CN073044         1
                                        CN104015         1
                                        CN138106         1
                                        NC2011           1
(42.02264515829284,-87.67395284249001)  CN190019         1

[37815 rows x 1 columns]

In [12]:
dummy['id']=1
dummy

                                                        id
location                                violation_code
(41.64692911211202,-87.61447966111751)  CN067014         1
(41.647795874157346,-87.54018148507018) CN136026         1
                                        CN193338         1
(41.64781346219875,-87.61421661741555)  CN102015         1
(41.6478148942479,-87.61645925569275)   PL159027         1
(41.648032636313566,-87.61392876189757) CN041063         1
                                        CN101015         1
(41.648033312120475,-87.61449814827196) CN190019         1
(41.64803352865298,-87.61558610924808)  CN041063         1
(41.64831133789253,-87.54450422674195)  CN190019         1
(41.64868870411254,-87.54488161972836)  CN190019         1
(41.64892413385787,-87.54628496618952)  CN070024         1
(41.649007538483055,-87.55916462709274) EL0020           1
(41.64919842993987,-87.54578457882039)  CN040053         1
(41.649496000274205,-87.5385111493897)  CN067014         1
(41.64954707623299,-87.547037252503)    CN073014         1
(41.64968175814829,-87.54578298947494)  CN061014         1
(41.64988698229695,-87.54607483071594)  CN078014         1
(41.64993012181813,-87.54701738845729)  CN197019         1
                                        NC8012           1
(41.650343384158205,-87.54607282205943) CN061014         1
(41.65054094697297,-87.5482607057881)   PL234018         1
(41.65062179173726,-87.54095925939012)  CN138106         1
(41.6507152932624,-87.54824755540024)   CN196029         1
(41.65074076438346,-87.54607322537252)  CN104015         1
(41.65079720427416,-87.54578041438954)  CN041063         1
(41.65091265199324,-87.54701434883746)  CN193100         1
(41.65096740821523,-87.54578010931255)  CN104015         1
(41.651360269469976,-87.54215693374226) CN190019         1
(41.65159175343629,-87.54607187374367)  CN070014         1
...                                                     ..
(42.02183449467274,-87.6740993513335)   CN061014         1
(42.02184840559456,-87.6720377012444)   PL160017         1
(42.02185509423605,-87.67321513144162)  NC2091           1
(42.021863477384635,-87.66663774330372) CN135016         1
                                        EL0011           1
(42.021889702381415,-87.67409868998341) CN074024         1
(42.02189749209467,-87.67056614316847)  CN104035         1
(42.02199611761967,-87.66536434253518)  CN066034         1
(42.02213824611862,-87.66671286089127)  CN070024         1
(42.02215887546485,-87.67085857147022)  CN064014         1
(42.02228637439677,-87.6657947050411)   CN066034         1
                                        CN070024         1
                                        CN138106         1
                                        CN198019         1
(42.02234373925689,-87.6672491759506)   CN190019         1
(42.02234457361622,-87.66733021341963)  CN197079         1
(42.0223463725097,-87.67203207141537)   CN015062         1
                                        CN061034         1
(42.02236842293945,-87.66647280517873)  CN046013         1
                                        CN132016         1
(42.022372411775464,-87.67015372322889) CN104015         1
(42.022372920646376,-87.67022617138275) CN104015         1
(42.02241209370339,-87.67156799176982)  CN190019         1
(42.0226341540599,-87.67193973427023)   CN065014         1
                                        CN133016         1
(42.02264167874065,-87.67311936183644)  CN073044         1
                                        CN104015         1
                                        CN138106         1
                                        NC2011           1
(42.02264515829284,-87.67395284249001)  CN190019         1

[37815 rows x 1 columns]

In [13]:
violation_type_count=dummy.reset_index()[['location','id']].groupby('location').count().reset_index()

In [14]:
# get unique violation codes for each location
violation_type_count.columns=['locations','unique_violation_codes']
violation_type_count

                                     locations  unique_violation_codes
0       (41.64692911211202,-87.61447966111751)                       1
1      (41.647795874157346,-87.54018148507018)                       2
2       (41.64781346219875,-87.61421661741555)                       1
3        (41.6478148942479,-87.61645925569275)                       1
4      (41.648032636313566,-87.61392876189757)                       2
5      (41.648033312120475,-87.61449814827196)                       1
6       (41.64803352865298,-87.61558610924808)                       1
7       (41.64831133789253,-87.54450422674195)                       1
8       (41.64868870411254,-87.54488161972836)                       1
9       (41.64892413385787,-87.54628496618952)                       1
10     (41.649007538483055,-87.55916462709274)                       1
11      (41.64919842993987,-87.54578457882039)                       1
12      (41.649496000274205,-87.5385111493897)                       1
13        (41.64954707623299,-87.547037252503)                       1
14      (41.64968175814829,-87.54578298947494)                       1
15      (41.64988698229695,-87.54607483071594)                       1
16      (41.64993012181813,-87.54701738845729)                       2
17     (41.650343384158205,-87.54607282205943)                       1
18       (41.65054094697297,-87.5482607057881)                       1
19      (41.65062179173726,-87.54095925939012)                       1
20       (41.6507152932624,-87.54824755540024)                       1
21      (41.65074076438346,-87.54607322537252)                       1
22      (41.65079720427416,-87.54578041438954)                       1
23      (41.65091265199324,-87.54701434883746)                       1
24      (41.65096740821523,-87.54578010931255)                       1
25     (41.651360269469976,-87.54215693374226)                       1
26      (41.65159175343629,-87.54607187374367)                       1
27       (41.65164707502776,-87.5445873221266)                       1
28      (41.651703734049235,-87.5445885225999)                       1
29     (41.651712548052224,-87.61646905697734)                       1
...                                        ...                     ...
27187    (42.0208640665285,-87.67293324524202)                       1
27188     (42.021210884377,-87.67086605703521)                       3
27189   (42.02123848565826,-87.67204426933564)                       1
27190  (42.021259069358535,-87.67017720853453)                       7
27191  (42.021261678150104,-87.67049631976245)                       1
27192  (42.021269942412516,-87.67134740113846)                       3
27193   (42.02128499926987,-87.67313769759029)                       1
27194   (42.02144853294071,-87.66682331800244)                       6
27195  (42.021514462337905,-87.67174722327167)                       1
27196   (42.02168621516109,-87.67292339992562)                       1
27197    (42.02183449467274,-87.6740993513335)                       1
27198    (42.02184840559456,-87.6720377012444)                       1
27199   (42.02185509423605,-87.67321513144162)                       1
27200  (42.021863477384635,-87.66663774330372)                       2
27201  (42.021889702381415,-87.67409868998341)                       1
27202   (42.02189749209467,-87.67056614316847)                       1
27203   (42.02199611761967,-87.66536434253518)                       1
27204   (42.02213824611862,-87.66671286089127)                       1
27205   (42.02215887546485,-87.67085857147022)                       1
27206    (42.02228637439677,-87.6657947050411)                       4
27207    (42.02234373925689,-87.6672491759506)                       1
27208   (42.02234457361622,-87.66733021341963)                       1
27209    (42.0223463725097,-87.67203207141537)                       2
27210   (42.02236842293945,-87.66647280517873)                       2
27211  (42.022372411775464,-87.67015372322889)                       1
27212  (42.022372920646376,-87.67022617138275)                       1
27213   (42.02241209370339,-87.67156799176982)                       1
27214    (42.0226341540599,-87.67193973427023)                       2
27215   (42.02264167874065,-87.67311936183644)                       4
27216   (42.02264515829284,-87.67395284249001)                       1

[27217 rows x 2 columns]

In [15]:
violation_type_count.head(25)

                                  locations  unique_violation_codes
0    (41.64692911211202,-87.61447966111751)                       1
1   (41.647795874157346,-87.54018148507018)                       2
2    (41.64781346219875,-87.61421661741555)                       1
3     (41.6478148942479,-87.61645925569275)                       1
4   (41.648032636313566,-87.61392876189757)                       2
5   (41.648033312120475,-87.61449814827196)                       1
6    (41.64803352865298,-87.61558610924808)                       1
7    (41.64831133789253,-87.54450422674195)                       1
8    (41.64868870411254,-87.54488161972836)                       1
9    (41.64892413385787,-87.54628496618952)                       1
10  (41.649007538483055,-87.55916462709274)                       1
11   (41.64919842993987,-87.54578457882039)                       1
12   (41.649496000274205,-87.5385111493897)                       1
13     (41.64954707623299,-87.547037252503)                       1
14   (41.64968175814829,-87.54578298947494)                       1
15   (41.64988698229695,-87.54607483071594)                       1
16   (41.64993012181813,-87.54701738845729)                       2
17  (41.650343384158205,-87.54607282205943)                       1
18    (41.65054094697297,-87.5482607057881)                       1
19   (41.65062179173726,-87.54095925939012)                       1
20    (41.6507152932624,-87.54824755540024)                       1
21   (41.65074076438346,-87.54607322537252)                       1
22   (41.65079720427416,-87.54578041438954)                       1
23   (41.65091265199324,-87.54701434883746)                       1
24   (41.65096740821523,-87.54578010931255)                       1

In [16]:
violation_type_dist=violation_type_count.copy()
violation_type_dist['locations']=1
violation_type_dist=violation_type_dist.groupby('unique_violation_codes').count().reset_index()
violation_type_dist.columns=['unique_violation_codes','number_of_buildings']
violation_type_dist.head()

   unique_violation_codes  number_of_buildings
0                       1                20145
1                       2                 4921
2                       3                 1347
3                       4                  482
4                       5                  181

In [17]:
# Creating dummies
dummies = pd.get_dummies(df[['inspection_status', 'inspection_category']])
new_df = pd.merge(df, dummies, left_index = True, right_index = True) 
new_df.head()

,unnamed:_0,id,violation_last_modified_date,violation_date,violation_code,violation_status,violation_status_date,violation_description,violation_location,violation_inspector_comments,...,longitude,location,inspection_status_CLOSED,inspection_status_FAILED,inspection_status_HOLD,inspection_status_PASSED,inspection_category_COMPLAINT,inspection_category_PERIODIC,inspection_category_PERMIT,inspection_category_REGISTRATION
0,0,5063843,05/21/2015,2015-05-21,CN065014,OPEN,NaT,REPAIR LINTELS,OTHER : :,LINTELS; RUSTED.,...,-87.606184,"(41.73308939713441,-87.60618433527188)",0,1,0,0,1,0,0,0
1,1,5063990,05/21/2015,2015-05-21,CN044013,OPEN,NaT,PIPE OPENING W/NONCOMBUST MATL,OTHER : :MULTIPLE FLOORS,"OPENINGS AROUND PIPES, SEAL WITH APPROVED MATE...",...,-87.615694,"(41.77708792596553,-87.61569442972947)",0,1,0,0,0,1,0,0
2,2,5064022,05/21/2015,2015-05-21,CN104035,OPEN,NaT,MAINTAIN WINDOW,OTHER : :,"ALL ELEVATIONS , WOOD WINDOW FRAMES AND NORTH...",...,-87.708657,"(41.93799454179893,-87.70865671096144)",0,1,0,0,1,0,0,0
3,3,5064019,05/21/2015,2015-05-21,CN196029,OPEN,NaT,POST OWNER/MANAGERS NAME/#,OTHER : :,BUILDING - NO OWNER'S I.D. SIGN POSTED .,...,-87.708657,"(41.93799454179893,-87.70865671096144)",0,1,0,0,1,0,0,0
4,4,5064139,05/21/2015,2015-05-21,CN104015,OPEN,NaT,"REPLCE WINDOW PANES, PLEXGLAS",OTHER : :,NORTH ELEVATION / 1ST FLOOR - BROKEN WINDOW PANE.,...,-87.620616,"(41.791469839262206,-87.62061589476306)",0,1,0,0,1,0,0,0

In [18]:
# Create a building features dataframe
b_features = pd.DataFrame()
buildings = new_df.groupby('property_group')

In [19]:
b_features['num_failed'] = buildings.inspection_status_FAILED.sum()
b_features['num_passed'] = buildings.inspection_status_PASSED.sum()
b_features['total_inspected'] = b_features.num_failed + b_features.num_passed

b_features['num_complaint'] = buildings.inspection_category_COMPLAINT.sum()

In [20]:
b_features.head(5)

                num_failed  num_passed  total_inspected  num_complaint
property_group
1001                     3           0                3              0
1002                     0           2                2              0
1004                     1           1                2              2
1007                     1           0                1              1
1008                     1           0                1              0

In [21]:
# Generate cumulative prior violations for a building
test = df.groupby(['location']).size()
test

location
(41.644712319701355,-87.61054489207858)    3
(41.644715443144335,-87.61282488887937)    1
(41.645784773378516,-87.61577244413007)    1
(41.64636478449065,-87.61654672673995)     1
(41.64692911211202,-87.61447966111751)     1
(41.64742175185122,-87.61708899714324)     1
(41.647795874157346,-87.54018148507018)    2
(41.64781346219875,-87.61421661741555)     1
(41.6478148942479,-87.61645925569275)      1
(41.648032636313566,-87.61392876189757)    2
(41.648033312120475,-87.61449814827196)    1
(41.648033497754234,-87.61514963747327)    2
(41.64803352865298,-87.61558610924808)     1
(41.648310479508645,-87.54399793795261)    1
(41.64831133789253,-87.54450422674195)     1
...
(42.02189749209467,-87.67056614316847)     1
(42.02199611761967,-87.66536434253518)     1
(42.02213824611862,-87.66671286089127)     1
(42.02215887546485,-87.67085857147022)     1
(42.02228637439677,-87.6657947050411)      4
(42.02234373925689,-87.6672491759506)      1
(42.02234457361622,-87.66733021341963)     1
(42.0223463725097,-87.67203207141537)      3
(42.02236842293945,-87.66647280517873)     2
(42.022372411775464,-87.67015372322889)    1
(42.022372920646376,-87.67022617138275)    1
(42.02241209370339,-87.67156799176982)     1
(42.0226341540599,-87.67193973427023)      2
(42.02264167874065,-87.67311936183644)     4
(42.02264515829284,-87.67395284249001)     1
Length: 34650, dtype: int64

In [ ]:
is_repeat=df.groupby(['location']).size() > 1 
is_repeat

41

In [22]:
# create training set and final set
# create train-test splits from initial training set
# fit model on train set 
# predict prob on test set